<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0/css/all.min.css">
    <link href="../assets/css/login.css" rel="stylesheet" type="text/css">
</head>
<body>
    <div class="login">
        <h1>Login</h1>
        <form action="/admin/login" method="post">
            <label for="username">
                <i class="fa fa-user"></i>
            </label>
            <!-- Add autocomplete attribute -->
            <input type="text" name="username" placeholder="Username" id="username" required autocomplete="username">
            <label for="password">
                <i class="fa fa-lock"></i>
            </label>
            <!-- Add autocomplete attribute -->
            <input type="password" name="password" placeholder="Password" id="password" required autocomplete="current-password">
            <input type="submit" value="Login">
        </form>
    </div>
</body>
</html>
