  <!-- ======= Header ======= -->
  <header id="header" class="fixed-top d-flex align-items-center">
    <div class="container d-flex align-items-center">

      <div class="logo me-auto">
        <a href="/"><img src="/assets/img/bmku.png" alt="" class="img-fluid"></a>
        <!-- Uncomment below if you prefer to use an image logo -->
        <!-- <a href="index.html"><img src="assets/img/logo.png" alt="" class="img-fluid"></a>-->
      </div>

      <nav id="navbar" class="navbar order-last order-lg-0">
        <ul>
          <li><a class="nav-link scrollto active" href="/">Home</a></li>
          <li class="dropdown"><a href="#"><span>Tentang Kami</span> <i class="bi bi-chevron-down"></i></a>
            <ul>
              <li><a href="/about/sejarah">Sejarah</a></li>
              <li><a href="/about/visimisi">Visi & Misi</a></li>
              <li><a href="/about/manajemen">Manajemen</a></li>
            </ul>
          </li>
          <li class="dropdown"><a href="#"><span>Layanan</span> <i class="bi bi-chevron-down"></i></a>
            <ul>
              <li><a href="/layanan/konfirmasiDonasi">Konfirmasi Donasi</a></li>
              <li><a href="/layanan/kantorPelayanan">Kantor Pelayanan</a></li>
            </ul>
          </li>
          <li class="dropdown"><a href="#"><span>Tata Kelola</span> <i class="bi bi-chevron-down"></i></a>
            <ul>
              <li><a href="/tatakelola/legalformat">Legal Format</a></li>
              <li class="dropdown"><a href="#"><span>Hasil Audit</span> <i class="bi bi-chevron-down"></i></a>
                <ul>
                  <li><a href="#">Audit Syariah</a></li>
                </ul>
              <li><a href="#">Laporan & Publikasi</a></li>
            </ul>
          </li>
          </li>
          <li class="dropdown"><a href="#"><span>Kolaborasi</span> <i class="bi bi-chevron-down"></i></a>
            <ul>
              <li><a href="https://forms.gle/CKiqFzsgKLWydL5G7">Pengajuan Kolaborasi Program CSR</a></li>
              <li><a href="/mitra-kami">Mitra Kami</a></li>
            </ul>
          </li>
          <li class="dropdown"><a href="/dokumentasi"><span>Dokumentasi</span> </a>
          <li><a class="nav-link scrollto" href="#contact">Contact</a></li>
        </ul>
        <i class="bi bi-list mobile-nav-toggle"></i>
      </nav><!-- .navbar -->

    </div>
  </header><!-- End Header -->